@font-face {
    font-family: 'VIOLA';
    src: url('VIOLA.woff2') format('woff2'),
        url('VIOLA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VIOLA';
    src: url('VIOLA.woff2') format('woff2'),
        url('VIOLA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

